
# Web Framework
flask
gunicorn

# Data Manipulation & Analysis
pandas
numpy

# Machine Learning
scikit-learn
imbalanced-learn
joblib

# Visualization
matplotlib
seaborn

# Reporting
reportlab

# Utilities
certifi
werkzeug
